.ct-landing-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.ct-landing-text {
  display: flex;
  width: 40%;
  height: 70vh;
  background: url("/assets/images/landing/character1.png") no-repeat;
  background-size: 50% 60%;
  background-position: bottom center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
}
.ct-landing-text p:first-of-type {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
}
.ct-landing-text p:last-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.ct-landing-handle-building-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.ct-story {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.gallery-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.sub-gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.sub-gallery-container > p {
  font-weight: 600;
  font-size: 2rem;
  line-height: 50px;
}
.sub-gallery-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.sub-gallery-image-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(158, 218, 209, 0.1) 8.23%, rgba(61, 179, 162, 0.1) 108.23%);
  border-radius: 10px;
  padding: 1.5em;
  width: 300px;
  height: 400px;
  gap: 30px;
}
.gallery-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
}
.gallery-desc {
  font-weight: 600;
  font-size: 1rem;
  line-height: 28px;
}