.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.list li {
  list-style-type: none;
}